@import url("https://fonts.googleapis.com/css?family=Jua&subset=korean");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px Jua, sans-serif;
}
body {
  background-color: #9bdbf2;
}
body #main {
  width: 100%;
  height: auto;
}
body #main .cloud {
  position: absolute;
  z-index: 1;
}
.cloud1 {
  width: 110px;
  right: 0;
  top: 100px;
  animation: cloud1 20s infinite linear;
}
.cloud2 {
  width: 110px;
  top: 200px;
  left: 50px;
  animation: cloud2 35s infinite linear;
}
.cloud3 {
  width: 60px;
  top: 70px;
  left: 10px;
}
.cloud4 {
  width: 80px;
  top: 200px;
  left: 100px;
}
.cloud5 {
  width: 80px;
  top: 100px;
  right: 10px;
}
#header {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #fee395;
}
#header .subject {
  color: #ceae5a;
  font-size: 1.5rem;
  line-height: 40px;
  padding-left: 15px;
}
.sub-header {
  position: relative;
  width: 25%;
  height: 35px;
  margin: 20px auto;
}
.sub-header img {
  width: 70px;
  position: absolute;
  z-index: 1;
  top: -18px;
  left: -25px;
}
.sub-tit {
  clip-path: polygon(0% 0%, 100% 0%, 95% 50%, 100% 100%, 0% 100%);
  text-align: center;
  background-color: #5cbce6;
}
.sub-tit .sub-text,
.sub-tit span {
  color: #fff;
  font-size: 1.3em;
  line-height: 35px;
}
.sub-tit .sub-text span,
.sub-tit span span {
  color: #d6eacd;
}
.project-tit {
  width: 40%;
  margin: 0 auto;
  position: relative;
}
.project-tit .logo {
  display: block;
  margin: 35px auto;
  z-index: 10;
}
.project-tit .airplane {
  position: absolute;
  left: -75px;
  top: 175px;
  transform: rotate(15deg);
}
@-moz-keyframes cloud1 {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@-webkit-keyframes cloud1 {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@-o-keyframes cloud1 {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes cloud1 {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@-moz-keyframes cloud2 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes cloud2 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes cloud2 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes cloud2 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
